<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Error.</h1>
    <h2>Se produjo un error al procesar su solicitud.</h2>    
</body>
</html>
